# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
.vercel
coverage/


